coredump:
  - commandline: .*
    exec: echo [$SIBYL_PID] $SIBYL_CMDLINE
exec:
  - commandline: .*
    exec: echo [$SIBYL_PID] $SIBYL_CMDLINE
exit:
  - commandline: .*
    exec: echo [$SIBYL_PID] $SIBYL_CMDLINE
fork:
  - commandline: .*
    exec: echo [$SIBYL_PID] $SIBYL_CMDLINE
